<div class="row">
	<div class="col-xs-3">

		<h2>User info</h2>
		<%= render 'users/profile', user: @user %>

		<h2>New book</h2>
		<%= render 'books/newform', book: @book %>

	</div>

	<div class="col-xs-9">
		<h2>Book detail</h2>

				      <div class="fa fa-heart" aria-hidden="true" style="color: red;"></div>


		<table class="table">
			<tr>
				<td>
					<%= link_to (@book_detail.user) do %>
					<%= attachment_image_tag(@book_detail.user, :profile_image, :fill, 100, 100, fallback: "no-image-mini.jpg") %><br>
					<%= @book_detail.user.name %>
					<% end %>
				</td>
				<td><%= link_to @book_detail.title, @book_detail %></td>
				<td><%= @book_detail.body %></td>
		        <td><%= @book_detail.book_comments.count %>件コメント</td>
		        <% if @book_detail.favorited_by?(current_user) %>
				  <td>
				    <%= link_to book_favorites_path(@book_detail), method: :delete do %>
				      <div class="fa fa-heart" aria-hidden="true" style="color: red;"></div>
				      <%= @book_detail.favorites.count %> いいね
				    <% end %>
				  </td>
				<% else %>
				  <td>
				    <%= link_to book_favorites_path(@book_detail), method: :post do %>
				      <div class="fa fa-heart-o" aria-hidden="true"></div>
				      <%= @book_detail.favorites.count %> いいね
				    <% end %>
				  </td>
				<% end %>
				<td><% if @book_detail.user.id == current_user.id %>
					<%= link_to "Edit",edit_book_path(@book_detail), class: "btn-sm btn-success edit_book_#{@book_detail.id}" %>
					<% else %>
			        <% end %></td>
				<td><% if @book_detail.user.id == current_user.id %>
						<%= link_to "Destroy",@book_detail, method: :delete, data: {confirm: "本当に削除してもよろしいですか？"}, class: "btn-sm btn-danger destroy_book_#{@book_detail.id}" %>
					<% else %>
			        <% end %>
		        </td>
			</tr>
		</table>
		<%= form_for [@book_detail, @book_comment] do |f| %>
		    <%= f.text_area :comment, rows:'5', class: "form-control",placeholder: "コメントをここに" %>
			<%= f.submit "送信する", class: "btn btn-lg btn-base-1 mt-20 pull-right" %>
		<% end %>
		<ol>
		    <% @book_detail.book_comments.each do |book_comment| %>
		        <li class="comment">
		            <div class="comment-body bb">
		                <div class="comment-text">
		                    <div class="comment-author clearfix">
		                        <a href="#" class="link-author"><%= book_comment.user.name %></a>
		                        <span class="comment-meta">
		                          <span class="comment-date"><%= book_comment.created_at.strftime('%Y/%m/%d') %></span>
		                        </span>
		                    </div>
		                    <div class="comment-entry">
		                    	<%= book_comment.comment %>
								<% if book_comment.user.id == current_user.id %>
									<%= link_to "Destroy",book_book_comments_path(book_comment), method: :delete, class: "btn-sm btn-danger destroy_book_#{book_comment.id}" %>
								<% else %>
			      				<% end %>
		                    </div>
		                </div>
		            </div>
		        </li>
		    <% end %>
		</ol>
	</div>
</div>